.header{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0 30px;
    height: 90px;
    align-items: center;
    background-color: #23242a;
    color: #fff;
    position: fixed;
   top: 0;
    width: 100%;
    z-index: 1;
}
.btn1{
    margin-top: 10px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sixe{
    padding: 5px;
}
.header .Services ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
}
.header .Services ul li{
    padding: 10px;

}

.Products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 10px;
    margin-top: 10px;
    padding: 0 20px;
}
.product h1{
    text-align: center;
    color: #fe05c8;
}
.dashboardproduct{
    position: relative;
    top:370px;

}
.card{
    padding:10px;
    background-color: rgb(246, 233, 233);
}
#add{
    height: 800px;
    margin-top: 100px;
    width: 400px;
}
.header .Services ul li:hover{
    background-color: #008CBA;
    border-radius:5px;
}
#Login{
    margin-top:110px;
}
.Login{
    position: relative;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #23242a;
   width: 300px;
   height: 420px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
}

form{
    border-radius: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.container{
    background-color: #23242a;
    height: 400px;
    width: 80%;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
a{
    text-decoration: none;
}
.Services a li{
    color: #fff;
}
#gm{
 position: relative;
 top: 20px;
}
.container .userinfo{
    position: absolute;
    inset:100px 10px 10px 10px;
    color: #23242a;
    padding-top: 10px;
    background-color: aqua;
  padding: 0 50px;
}

.userinfo h2{
    text-align: center;
}