.header{
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 30px;
    height: 90px;
    align-items: center;
    background-color: #23242a;
    color: #fff;
    position: fixed;
   top: 0;
    width: 100%;
    z-index: 1;
}
.btn1{
    margin-top: 10px;
}
.center{
    display: block;
   margin: 20px auto;

}
.sixe{
    padding: 5px;
}
/* .dropdown{
    position: relative;
}
.dropdown ul{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #23242a;
} */
/* .header .Services{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.header .Services ul{
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    cursor: pointer;
}
.header .Services ul li{
    padding: 10px;
    

}

.Products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 10px;
    margin-top: 10px;
    padding: 0 20px;
}
.product h1{
    text-align: center;
    color: #fe05c8;
}
.dashboardproductlist{
    position: relative;
    top:370px;

}

.card{
    padding:10px;
    background-color: rgb(246, 233, 233);
}
#add{
    height: 930px;
    margin-top: 100px;
    width: 400px;
}
.cartheader{
    margin: 100px auto 0 auto;
    display: flex;
    background-color: #484950;
    height: 90px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    color: aliceblue;
    border-radius: 10px;

}
.Cartlogo{
    display: flex;
    gap:20px;
}
.header .Services ul li:hover{
    background-color: #008CBA;
    border-radius:5px;
}
#Login{
    margin-top:110px;
}
.Login{
    position: relative;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #23242a;
   width: 300px;
   height: 420px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
}

form{
    border-radius: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.container{
    background-color: #23242a;
    height: 300px;
    width: 80%;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
a{
    text-decoration: none;
}
.Services a li{
    color: #fff;
}
#gm{
 position: relative;
 top: 20px;
}
.container .userinfo{
    position: absolute;
    inset:10px;
    color: #23242a;
    padding-top: 10px;
    background-color: aqua;
  padding: 0 50px;
}

.userinfo h2{
    text-align: center;
}